
html {
 
  font-family: 'Times New Roman', Times, serif;
 /* great source from css tricks @ https://css-tricks.com/perfect-full-page-background-image/ */
  background: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
color: white;
}

a:hover {
  background-color: rgb(108, 110, 112);
}


.title{
text-align: center;
margin:auto;
font-size: 30px;
display: inline;
color: white;
}
.navigation{
  list-style-type: none;
  float: right;
  display: inline;
}

.linkdn:hover{
  background-color: rgb(108, 110, 112);
}

.linkdn{
 
    border-radius: 1px;
    color: white;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
}


.github:hover{
  background-color: rgb(108, 110, 112);
}
.github{
  display: inline;
  border-radius: 1px;
    color: white;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
}

.resume:hover {
  background-color: rgb(108, 110, 112);
}
.resume {
  border-radius: 1px;
  color: white;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}



#pr1{
  border-radius: 1px;
  color: white;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

#pr2{
  border-radius: 1px;
  color: white;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

#pr3{
  border-radius: 1px;
  color: white;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

#pr4{
  border-radius: 1px;
  color: white;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

.libraries{
 text-align: center;
 position: relative;
}

.libraries li {
color:white;
display:inline-block;
list-style-type: none;
text-decoration: none;
text-align: center;
font-size: 18px;

}

.project{
  color: White;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  padding: 2px;
}

.projects-nav{
  display: inline;
  list-style-type: none;
  position: 50%;
  text-align: center; 
}

.projects-nav li {
   padding: 5px;
    border-radius: 1px;
    color: white;
    padding: 0 auto;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
}




/*  Start The Socials.    */
.aside-pad{
position:sticky;
 
}

.title-soc{
  color: White;
  text-align: center;
  text-emphasis-style: bolder;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  padding: 5px;
  border-color: black;
  border-style: double;
}


.no-bullets {
 list-style-type: none; /* Remove bullets */
 text-align: center;
 position:center;
 display: inline-block;
 padding: 10px;

}




/*  End The Socials.    */




.copyright
{
  color: black;
  
  text-align: center;
  
}

.content {
  padding-top: 35px;
color:white;
text-align: center;
font-size: 18px;
margin: 0 auto;
}

/* Media Query*/

