
html {
 
  font-family: 'Times New Roman', Times, serif;
 /* great source from css tricks @ https://css-tricks.com/perfect-full-page-background-image/ */
  background: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
color: white;
}

/* not using 
a:link, a:visited {
  background-color: none;
  border-radius: 1px 0px;
  border-spacing: 10px;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration-style: none ;
  display: inline;
}
*/
a:hover {
  background-color: rgb(108, 110, 112);
}


.title{
text-align: center;
margin:auto;
font-size: 30px;
display: inline;
color: white;
}
.navigation{
  display: inline;
  list-style-type: none;
  float: right;
  display: inline;
}

.linkdn:hover{
  background-color: rgb(108, 110, 112);
}

.github:hover{
  background-color: rgb(108, 110, 112);
}
.github{
  display: inline;
  border-radius: 1px;
    color: white;
    padding: 0 auto;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
}

.resume:hover {
  background-color: rgb(108, 110, 112);
}
.resume {
  border-radius: 1px;
  color: white;
  padding: 0 auto;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}



#pr1{
  border-radius: 1px;
  color: white;
  padding: 0 auto;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

#pr2{
  border-radius: 1px;
  color: white;
  padding: 0 auto;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

#pr3{
  border-radius: 1px;
  color: white;
  padding: 0 auto;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}

#pr4{
  border-radius: 1px;
  color: white;
  padding: 0 auto;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 18px;
}



#content-box{
text-align:center;
position: static;
padding: 100px;
margin:auto;
}
#libraries{
  list-style-type: none;
  display: inline;
}

.Soc-media{
  color:white;
  text-align: center;
  font-size: 14px;
  margin: auto;
  padding: 20vh;
}

.project{
  color: White;
  text-align: center;
  text-decoration: none;
  text-decoration-style: none;
  font-size: 25px;
  padding: 2px;
}

.projects-nav{
  display: inline;
  list-style-type: none;
  position: 50%;
  text-align: center; 
}

.projects-nav li {
   padding: 5px;
    border-radius: 1px;
    color: white;
    padding: 0 auto;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
}



/*  Start The Socials.    */
.aside-pad{
position:sticky;
 
}

.title-soc{
  color: White;
  text-align: center;
  text-emphasis-style: bolder;
  font-size: 20px;
  margin: 0 auto;
  display: block;
  padding: 5px;
  border-color: black;
  border-style: double;
}


.no-bullets {
 list-style-type: none; /* Remove bullets */
 text-align: center;
 position:center;
 display: inline-block;
 padding: 10px;

}

.linkdn:hover{
  background-color: rgb(108, 110, 112);
}

.linkdn{
 
    border-radius: 1px;
    color: white;
    padding: 0 auto;
    text-decoration: none;
    text-decoration-style: none;
    font-size: 18px;
}

.email{

  background-color: #e7e7e7;
  border-color: black 50px;
  
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 18px;
}


/*  End The Socials.    */




.copyright
{
  color: black;
  display: inline-block;
  padding: 250px;
  text-align: center;
  


}

.content {
color:white;
text-align: center;
font-size: 18px;
margin: 0 auto;
}

/* Media Query*/

